
.virsus {
   /* border: solid 2px; */
    background-color: rgb(177, 177, 177);
    border-radius: 5px;
    width: 100%;
    display: flex;
   /* flex-wrap: wrap; */
    align-items: center;
    justify-items: center;
}

.virsus1 {
    height: 100%;
    border-radius: 10px;
}

.virsus2 {
    width: 100%;
    text-align: center;  
    font-family: 'Redressed', cursive;
    font-size: x-large;
}

.menu {
    margin-top: 10px;
   /* border: solid 2px; */
    background-color: white;
    border-radius: 5px;
    width: 98%;
    height: 40px;
    display: flex;
    align-items: center;
    gap: 5px;
    padding-left: 10px;
}

.apacia {
    margin-top: 10px;
  /*  border: solid 2px; */
    background-color: rgb(177, 177, 177);
    border-radius: 5px;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    padding-bottom: 10px;
    align-items: center;
    justify-content: center;    
}

.korteles {
    margin-top: 10px;
  /*  border: solid 2px; */
    background-color: white;
    border-radius: 5px;
    width: 98%;
    min-height: 400px;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    overflow: auto;
    padding: 5px;
    gap: 5px;
}

.kortele_g {
    background-color: yellow;
    border-radius: 5px;
    width: 180px;
    height: 180px;
    padding: 10px;
    overflow: auto;
}

.kortele_r {
    background-color: red;
    border-radius: 5px;
    width: 180px;
    height: 180px;
    padding: 10px;
    overflow: auto;
}

.kortele_m {
    background-color: blue;
    border-radius: 5px;
    width: 180px;
    height: 180px;
    padding: 10px;
    overflow: auto;
}

.kortele_z {
    background-color: green;
    border-radius: 5px;
    width: 180px;
    height: 180px;
    padding: 10px;
    overflow: auto;
}

.kortele_atlikta {
    opacity: 0.4;
}

button {
    font-size: larger;
}

input {
    font-size: larger;
}

@media only screen and (max-width: 950px) {
    button {
        font-size: small;
    }
    
}

/* The Modal Add / EDIT (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 50px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content */
  .modal-content {
    border: solid 2px;
    border-radius: 10px;  
    margin: auto;
    padding: 20px;
    display: flex;
    flex-direction: column;
    width: 400px;
    font-size: larger;
    background-color: rgb(177, 177, 177);
  }
  
  /* The Close Button */
  .closeAdd .closeEdit {
    color: black;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .closeAdd:hover,.closeAdd:focus, .closeEdit:hover,.closeEdit:focus  {
    color: red;
    text-decoration: none;
    cursor: pointer;
  }