
.virsus {
    background-color: rgb(177, 177, 177);
    border-radius: 5px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-items: center;
    background-image: url("img/fonas1.jpg");
}

.virsus1 {
    height: 100%;
    border-radius: 10px;
}

.virsus2 {
    width: 100%;
    text-align: center;  
    font-family: 'Smokum', cursive;
    font-size: x-large;
}

.menu {
    margin-top: 10px;
    background-color: white;
    border-radius: 5px;
    width: 98%;
    height: 40px;
    display: flex;
    align-items: center;
    gap: 5px;
    padding-left: 10px;
}

.apacia {
    margin-top: 10px;
    background-color: rgb(177, 177, 177);
    border-radius: 5px;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    padding-bottom: 10px;
    align-items: center;
    justify-content: center;   
    background-image: url("img/fonas1.jpg"); 
}

.korteles {
    margin-top: 10px;
    background-color: white;
    border-radius: 5px;
    width: 98%;
    min-height: 400px;
    height: auto;
    display: flex;
    flex-wrap: wrap; 
    overflow: auto;
    padding: 5px;
    gap: 5px;
}

.kortele_g {
    background-color: yellow;
    border-radius: 5px;
    width: 100%;
    max-height: 180px;
    padding: 5px;
    overflow: auto;
    display: flex;
    flex-wrap: wrap; 
}

.kortele_r {
    background-color: red;
    border-radius: 5px;
    width: 100%;
    max-height: 180px;
    padding: 5px;
    overflow: auto;
    display: flex;
    flex-wrap: wrap; 
}

.kortele_m {
    background-color: blue;
    border-radius: 5px;
    width: 100%;
    max-height: 180px;
    padding: 5px;
    overflow: auto;
    display: flex;
    flex-wrap: wrap; 
    color: white;
}

.kortele_z {
    background-color: green;
    border-radius: 5px;
    width: 100%;
    max-height: 180px;
    padding: 5px;
    overflow: auto;
    display: flex;
    flex-wrap: wrap; 
}

.kortele_menu {
    width: 20%;
    text-align: right;
    height: 20px;
}

.kortele_pavadinimas {
    width: 80%;
    height: 20px;
    cursor: move;
}

.kortele_atlikta {
    opacity: 0.4;
}

button {
    border: 1px solid;
    border-color: darkgray;
    border-radius: 10px;
    font-size: larger;
}

input {
    font-size: larger;
}

h3 {
    margin: 0;
}

p {
    margin: 0;
}

img:hover {
    transform: scale(1.1); 
    cursor: pointer;
}

.footer {
    margin-top: 10px;
    background-color: rgb(177, 177, 177);
    border-radius: 5px;
    width: 100%;
    height: 30px;
    position: sticky;
    top: 0px;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content:space-around;
    background-image: url("img/fonas1.jpg");
}

.footer-fonai {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
}

.footer-isvaizda {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
}

.footer_progress {
    box-sizing: border-box;
    width: 30%;
    height: 20px;
    background-color: white;
    text-align: center;
}

.footer_progress_bar {
    box-sizing: border-box;
    width: 0%;
    height: 20px;
    background-color: blue;
    color: grey;
    text-align: right;
}

.footer_stats {
    width: 30%;
    text-align: center;
}
 
.drag_over {
    border: 3px dotted #666;
}

@media only screen and (max-width: 950px) {
    button {
        font-size: small;
    }
}

/*  MODAL CSS  */

.modal {
    display: none; 
    position: fixed; 
    z-index: 1; 
    padding-top: 50px; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4); 
  }
  
  .modal-content {
    border: solid 2px;
    border-radius: 10px;  
    margin: auto;
    padding: 20px;
    display: flex;
    flex-direction: column;
    width: 400px;
    font-size: larger;
    background-color: rgb(177, 177, 177);
  }
  
  .closeAdd .closeEdit {
    color: black;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .closeAdd:hover,.closeAdd:focus, .closeEdit:hover,.closeEdit:focus  {
    color: red;
    text-decoration: none;
    cursor: pointer;
  }